/* Basic styling for login widget -- aligns the gravatar left and the links right.*/
.widget_wp_sidebarlogin {
	.sidebar-login-profile {
		display: flex;
		.sidebar-login-profile__avatar {
			img {
				padding: 2px;
				border: 1px solid #ddd;
				margin-right: 10px;
				border-radius: 50%;
			}
		}
	}
	.sidebar-login-links {
		margin-left: 0 !important;
		list-style: none outside !important;
	}
	.sidebar-login-form {
		form, p {
			margin: 0 0 1em 0;
		}
		.input {
			width: 100%;
			box-sizing: border-box;
			margin: 0;
		}
		form.is-loading {
			opacity: 0.6;
			pointer-events: none;
		}
		.sidebar-login-error {
			color: #fff;
			background-color: #ae121e;
			margin: 1em 0;
			padding: 1em;
			a, > * {
				color: #fff;
			}
		}
	}
}
